<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Online MarketPlace</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/modal.css">
    <link rel="stylesheet" href="/css/feedbackModal.css">
    <link rel="stylesheet" href="/css/navBar.css">
    <style>
        .container {
            padding: 20px;
            height: 100vh; /* Ensure it takes full height */
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .container {
            padding: 20px;
        }
    </style>
</head>
<body>
<nav class="navbar">
    <a th:href="@{/index}" class="navbar-brand" th:text="'Welcome ' + ${session.name}">Welcome, ...</a>
    <ul class="right">
        <li><a th:href="@{/profile}">Profile</a></li>
        <li><a th:href="@{/addProductPage}">Add Product</a></li>
        <li><a th:href="@{/products}">Products</a></li>
        <li><a th:href="@{/changePasswordForm}">Change Password</a></li>
        <li sec:authorize="hasAuthority(T(com.example.OnlineMarketPlace.Commons).ROLE_USER)"><a th:href="@{/feedback}">Leave Feedback</a></li>
        <li sec:authorize="hasAuthority(T(com.example.OnlineMarketPlace.Commons).ROLE_ADMIN)"><a th:href="@{/feedbacks}"  >Feedbacks</a></li>
        <li><a th:href="@{/logout}">Logout</a></li>
    </ul>
</nav>

    <div class="container" layout:fragment="custom-content">
        <p>Custom content will be shown here if inherited from another</p>
    </div>


<script>
    // Function to close the modal
    function closeModal() {
        document.querySelector('.modal-overlay').style.display = 'none';
    }

</script>
</body>
</html>
