
        .flash-success {
            padding: 5px;
            background-color: #28a745;  /* Green */
            color: white;
        }

        .flash-error {
            padding: 5px;
            background-color: #dc3545;  /* Red */
            color: white;
        }
        .warning {
            color: #dc3545; /* Light red */
            background-color: #f8d7da; /* Soft red background */
            border: 1px solid #f5c6cb; /* Light red border */
            padding: 5px;
            border-radius: 1px;
            font-weight: bold;
        }

        .flash-warning {
            padding: 5px;
            background-color: #ffc107;  /* Yellow */
            color: black;
        }
        .closebtn {
          margin-left: 15px;
          color: white;
          font-weight: bold;
          float: right;
          line-height: 20px;
          cursor: pointer;
          transition: 0.3s;
        }